.aiPage {
    text-align: center;
}

.header {
    background-color: #282c34;
    padding: 20px;
    color: white;
}

.AI-content {
    margin: 20px;
}

.upload-section {
    margin: 20px;
}

.arrow-button {
    background: none;
    border: none;
    cursor: pointer;
}

.arrow-icon {
    width: 50px;
    height: 50px;
}

.placeholder {
    margin-top: 20px;
}

.generated-image {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}