.cpted-suggest {
    position: fixed;
    bottom: 0; /* 화면의 아래쪽에 위치 */
    right: 0;
    width: 300px;
    height: 40%; 
    z-index: 2;
    overflow-y: auto;
}

.cpted-suggest button {
    margin-bottom: 20px; /* 각 요소의 아래 간격을 넓힙니다 */
}