.mapBox {
    position: fixed;
    top: 0;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 2;
    width: 270px;
    height: 300px;
}

.mapBox h2 {
    margin-bottom: 10px;
}

.button-container {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}

.map-button {
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: rgba(45, 180, 0, 0.24);
    color: #000000;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%; /* 버튼의 너비를 100%로 설정하여 부모 컨테이너에 맞춤 */
    height: 50px;
}

.map-button:hover {
    background-color: #2DB400;
}

.map-button.selected {
    background-color: #2DB400;
    color: #ffffff;
}
